/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  color: white;
  font-family: Roboto;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2.5rem;
  font-family: Roboto;
  line-height: 1.5;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #EF5E4A;
  margin-bottom: 10px;
  font-family: Roboto;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 2.88rem;
  }
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: Roboto;
}
button {
  font-family: Roboto;
}
.landing-page .above-fold {
  background-image: url("https://i.imgur.com/l6CuvKu.jpg");
}
@media (max-width: 1000px) {
  .landing-page .above-fold {
    height: 530px;
  }
}
@media (max-width: 850px) {
  .landing-page .above-fold {
    height: 830px;
  }
}
.landing-page .above-fold header {
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .landing-page .above-fold header {
    justify-content: center;
  }
}
.landing-page .above-fold header .left {
  display: flex;
  align-items: center;
}
.landing-page .above-fold header .left img {
  width: 70px;
  height: auto;
}
@media (max-width: 1000px) {
  .landing-page .above-fold header .left img {
    width: 50px;
  }
}
@media (max-width: 850px) {
  .landing-page .above-fold header .left img {
    margin-left: 40px;
  }
}
.landing-page .above-fold header .left p {
  color: white;
  margin-left: 20px;
}
@media (max-width: 850px) {
  .landing-page .above-fold header .left p {
    display: none;
  }
}
.landing-page .above-fold header .right button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  font-size: 1.4rem;
  border-color: white;
  background: rgba(255, 0, 0, 0);
  padding: 5px 10px;
  margin-right: 95px;
}
@media (max-width: 1000px) {
  .landing-page .above-fold header .right button {
    margin: 0 71px;
  }
}
@media (max-width: 850px) {
  .landing-page .above-fold header .right button {
    margin: 0 40px;
  }
}
.landing-page .above-fold header .right button:focus {
  outline: 0;
}
.landing-page .above-fold .hero {
  display: flex;
  height: 500px;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .landing-page .above-fold .hero {
    height: 409px;
  }
}
@media (max-width: 850px) {
  .landing-page .above-fold .hero {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    height: 742px;
  }
}
@media (max-width: 600px) {
  .landing-page .above-fold .hero {
    height: 742px;
  }
}
.landing-page .above-fold .hero .content {
  margin: 50px 0 0 30px;
}
@media (max-width: 850px) {
  .landing-page .above-fold .hero .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 0;
    margin: 40px 25px 0 25px;
    text-align: center;
  }
}
.landing-page .above-fold .hero .content h2 {
  color: white;
  margin-top: 30px;
}
.landing-page .above-fold .hero .content button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  margin: 40px 0;
  padding: 10px 50px;
  font-size: 2rem;
}
.landing-page .above-fold .hero .content button:hover {
  color: #EF5E4A;
  background-color: white;
}
.landing-page .above-fold .hero .content button:focus {
  outline: 0;
}
.landing-page .above-fold .hero .img {
  max-width: 350px;
  min-width: 350px;
  width: 45%;
  display: flex;
  justify-content: center;
  margin: 0 30px;
}
@media (max-width: 1000px) {
  .landing-page .above-fold .hero .img {
    max-width: 300px;
    min-width: 300px;
  }
}
.landing-page .above-fold .hero .img img {
  width: 100%;
  height: auto;
}
@media (max-width: 850px) {
  .landing-page .above-fold .hero .img img {
    height: 500px;
    width: auto;
  }
}
.landing-page .arrow {
  position: absolute;
  top: 577px;
  left: 46.5%;
}
@media (max-width: 1000px) {
  .landing-page .arrow {
    top: 500px;
  }
}
@media (max-width: 850px) {
  .landing-page .arrow {
    top: 800px;
  }
}
@media (max-width: 600px) {
  .landing-page .arrow {
    left: 44.5%;
  }
}
.landing-page .arrow a {
  color: #EF5E4A;
  text-decoration: none;
}
.landing-page .bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
.landing-page infinite {
  animation: bounce 2s infinite;
}
.landing-page .fa {
  font-size: 5rem;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}
.landing-page .main-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.landing-page .main-content .how .block {
  margin: 50px 25px;
}
.landing-page .main-content .how .first {
  display: flex;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .first {
    flex-direction: column;
    align-items: center;
  }
}
.landing-page .main-content .how .first .content {
  width: 55%;
  padding-top: 60px;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .first .content {
    order: 1;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
}
.landing-page .main-content .how .first .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .first .img {
    margin-right: 23px;
  }
}
.landing-page .main-content .how .first .img img {
  width: auto;
  height: 300px;
}
@media (max-width: 1000px) {
  .landing-page .main-content .how .first .img img {
    height: 250px;
  }
}
.landing-page .main-content .how .second {
  display: flex;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .second {
    flex-direction: column;
    align-items: center;
  }
}
.landing-page .main-content .how .second .content {
  order: 2;
  width: 55%;
  padding: 20px 0 0 40px;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .second .content {
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
  }
}
.landing-page .main-content .how .second .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.landing-page .main-content .how .second .img img {
  width: auto;
  height: 250px;
}
@media (max-width: 1000px) {
  .landing-page .main-content .how .second .img img {
    height: 208px;
  }
}
.landing-page .main-content .how .third {
  display: flex;
  margin-bottom: 75px;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .third {
    flex-direction: column;
    align-items: center;
  }
}
.landing-page .main-content .how .third .content {
  width: 55%;
  padding-top: 55px;
}
@media (max-width: 600px) {
  .landing-page .main-content .how .third .content {
    order: 1;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
}
.landing-page .main-content .how .third .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.landing-page .main-content .how .third .img img {
  width: auto;
  height: 250px;
}
@media (max-width: 1000px) {
  .landing-page .main-content .how .third .img img {
    height: 208px;
  }
}
.landing-page .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  background: #FDCEC6;
  flex-direction: column;
}
.landing-page .cta p {
  font-size: 3.5rem;
  font-weight: 600px;
  margin: 0 25px;
}
@media (max-width: 850px) {
  .landing-page .cta p {
    text-align: center;
  }
}
.landing-page .cta button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  margin: 20px 0;
  padding: 10px 50px;
  font-size: 2rem;
}
.landing-page .cta button:hover {
  color: #EF5E4A;
  background-color: white;
}
.landing-page .cta button:focus {
  outline: 0;
}
.landing-page footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: #2e3842;
  color: white;
}
.landing-page footer p {
  font-size: 1.2rem;
}
