/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  color: white;
  font-family: Roboto;
}
h2 {
  font-size: 2.5rem;
  font-family: Roboto;
  line-height: 1.5;
}
h3 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #EF5E4A;
  margin-bottom: 10px;
  font-family: Roboto;
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: Roboto;
}
button {
  font-family: Roboto;
}
.landing-page .above-fold {
  background-image: url("https://i.imgur.com/l6CuvKu.jpg");
}
.landing-page .above-fold header {
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
}
.landing-page .above-fold header img {
  width: 70px;
  height: auto;
}
.landing-page .above-fold header .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing-page .above-fold header .content button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  border-radius: 5px;
  margin-right: 30px;
  padding: 2px 20px;
  font-size: 1.6rem;
}
.landing-page .above-fold header .content button:hover {
  color: #EF5E4A;
  background-color: white;
}
.landing-page .above-fold header .content button:focus {
  outline: 0;
}
.landing-page .above-fold header .content .tele {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.landing-page .above-fold header .content .tele:hover {
  text-decoration: underline;
  text-decoration-color: #EF5E4A;
}
.landing-page .above-fold .hero {
  display: flex;
  height: 500px;
  justify-content: space-between;
}
.landing-page .above-fold .hero .content {
  margin: 75px 0 0 75px;
  width: 50%;
}
.landing-page .above-fold .hero .content h2 {
  color: white;
  margin-top: 30px;
}
.landing-page .above-fold .hero .content button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  margin: 40px 0;
  padding: 10px 50px;
  font-size: 2rem;
}
.landing-page .above-fold .hero .content button:hover {
  color: #EF5E4A;
  background-color: white;
}
.landing-page .above-fold .hero .content button:focus {
  outline: 0;
}
.landing-page .above-fold .hero .img {
  max-width: 350px;
  min-width: 350px;
  width: 45%;
  display: flex;
  justify-content: center;
  margin-right: 75px;
}
.landing-page .above-fold .hero .img img {
  width: 100%;
  height: auto;
}
.landing-page .main-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.landing-page .main-content .how .block {
  margin: 50px 0;
}
.landing-page .main-content .how .first {
  display: flex;
}
.landing-page .main-content .how .first .content {
  width: 55%;
  padding-top: 90px;
}
.landing-page .main-content .how .first .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.landing-page .main-content .how .first .img img {
  width: auto;
  height: 300px;
}
.landing-page .main-content .how .second {
  display: flex;
}
.landing-page .main-content .how .second .content {
  order: 2;
  width: 55%;
  padding: 50px 0 0 40px;
}
.landing-page .main-content .how .second .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.landing-page .main-content .how .second .img img {
  width: auto;
  height: 250px;
}
.landing-page .main-content .how .third {
  display: flex;
}
.landing-page .main-content .how .third .content {
  width: 55%;
  padding-top: 70px;
}
.landing-page .main-content .how .third .img {
  width: 45%;
  display: flex;
  justify-content: center;
}
.landing-page .main-content .how .third .img img {
  width: auto;
  height: 300px;
}
.landing-page .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  background: #FDCEC6;
  flex-direction: column;
}
.landing-page .cta p {
  font-size: 4rem;
}
.landing-page .cta button {
  border-radius: 10px;
  color: white;
  background-color: #EF5E4A;
  cursor: pointer;
  border: 1px solid #EF5E4A;
  margin: 25px 0;
  padding: 10px 50px;
  font-size: 2rem;
}
.landing-page .cta button:hover {
  color: #EF5E4A;
  background-color: white;
}
.landing-page .cta button:focus {
  outline: 0;
}
.landing-page footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background: #2e3842;
  color: white;
}
