// Landing page content

.landing-page {
    
    .above-fold {
        background-image: url("https://i.imgur.com/l6CuvKu.jpg");

        @media @tablet {
            height: 500px;
        }

        header {
            max-width: 100%;
            display: flex;
            padding: 20px 30px;
            align-items: center;

            img {
                width: 70px;
                height: auto;

                @media @tablet {
                    width: 50px;
                }
            }
        
            p {
                color: white;
                margin-left: 20px;
            }
        }
    
        .hero {
            display: flex;
            height: 500px;
            justify-content: space-between;

            @media @tablet {
                height: 409px;
            }
    
            .content {
                margin: 50px 0 0 75px;
                width: 50%;
    
                h2 {
                    color: white;
                    margin-top: 30px;
                }

                button {
                    .button;
                    margin: 40px 0;
                    padding: 10px 50px;
                    font-size: 2rem;
                }

                button:hover {
                    .button-hover;
                }

                button:focus {
                    .button-focus;
                }
            }
    
            .img {
                max-width: 350px;
                min-width: 350px;
                width: 45%;
                display: flex;
                justify-content: center;
                margin-right: 75px;

                @media @tablet {
                    max-width: 300px;
                    min-width: 300px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    .main-content {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;

        .how {
            .block {
                margin: 50px 0;
            }
    
            .first {
                display: flex;
    
                .content {
                    width: 55%;
                    padding-top: 90px;
                }
    
                .img {
                    width: 45%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: auto;
                        height: 300px;
                    }
                }
            }
    
            .second {
                display: flex;
    
                .content {
                    order: 2;
                    width: 55%;
                    padding: 50px 0 0 40px;
                }
    
                .img {
                    width: 45%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: auto;
                        height: 250px;
                    }
                }
            }
    
            .third {
                display: flex;
    
                .content {
                    width: 55%;
                    padding-top: 70px;
                }
    
                .img {
                    width: 45%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: auto;
                        height: 300px;
                    }
                }
            }
        }
    }

    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 0;
        background: @lightRed;
        flex-direction: column;

        p {
            font-size: 4rem;
        }

        button {
            .button;
            margin: 25px 0;
            padding: 10px 50px;
            font-size: 2rem;
        }

        button:hover {
            .button-hover;
        }

        button:focus {
            .button-focus;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        background: @dark;
        color: white;
    }
}

